---
title: Blog
layout: base
templateId: blog
---
<header>
    <h1>Blog</h1>
    <hr>
</header>

<section>
    {%- for post in collections.posts -%}
    <article>
        <a href="{{ post.url }}" alt="{{ post.data.title }}">
            <h2>{{ post.data.title }}</h2>
        </a>

        <p>{{ post.data.summary }}</p>
    </article>
    {%- endfor -%}
</section>