<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | James Newman</title>
</head>

{% set css %}
  {% include "style.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<body>
    <head>
        <nav class="navbar">
            <a href="/blog" title="Blog">Blog</a>
            <a href="/projects" title="Blog">Projects</a>
            <a href="/about" title="Blog">About</a>
            <a href="/contact" title="Blog">Contact</a>
        </nav>
    </head>

    <aside class="sidebar">
        <a href="/" title="James Newman">
            <img class="sidebar-logo" src="assets/images/logo.svg" alt="J" />
        </a>
    </aside>
    
    <main>
        {{ content | safe }}
    </main>
</body>
</html>