---
layout: base
templateId: blog-post
---
<header>
    <h1>{{ title }}</h1>
    <nav>
        <date>{{ date.getDate() }}/{{ date.getMonth()+1 }}/{{ date.getFullYear() }}</date>
    </nav>
</header>

<section>
    {{ content | safe }}
</section>