.navbar {
    align-content: center;
    background-color: $primary-color;
    box-shadow: $shadow;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    z-index: 10;

    @include respond-to('medium') {
        background-color: transparent;
        box-shadow: none;
        position: static;
    }

    a {
        text-decoration: none;
        z-index: 1;

        &:active,
        &:focus,
        &:hover {
            text-decoration: line-through;
        }
    }

    &__logo {
        display: block;
        height: 40px;
        transition: transform $transition ease, opacity $transition ease;

        &:focus,
        &:hover {
            transform: scale(1.1);
        }

        &:active {
            opacity: 60%;
        }
    }

    &__menu-button {
        padding: 4px;
        height: 40px;
        transition: transform $transition ease, color $transition ease;
        width: 40px;
        z-index: 1;

        &:focus,
        &:hover {
            transform: scale(1.1);
        }

        &:active {
            color: transparentize($text-color, 0.4);
        }

        @include respond-to('medium') {
            display: none;
        }
    }

    &__options {
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        font-weight: bolder;
        font-family: $title-fonts;
        font-size: 32px;
        justify-content: center;
        position: fixed;
        bottom: 0;
        top: 0;
        left: 100%;
        right: -100%;
        text-align: center;
        transition: left $transition ease-in-out, right $transition ease-in-out;
        
        @include respond-to('medium') {
            background-color: transparent;
            position: static;
            flex-direction: row;
            font-size: 16px;
        }
    }

    &__options.active {
        left: 0;
        right: 0;
    }

    ul {
        margin: 0;
        padding: 30px 10px;

        @include respond-to('medium') {
            padding: 7px 0 0;
        }
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0 0 10px 0;

        @include respond-to('medium') {
            padding: 0 24px 0 0;
        }
    }
}

main {
    margin: 60px auto 0;
    max-width: $page-width;

    @include respond-to('medium') {
        padding-left: 60px;
    }
}

.sidebar {
    @include respond-to('medium') {
        background-color: $primary-color;
        bottom: 0px;
        display: flex;
        align-items: center;
        left: 0px;
        position: fixed;
        top: 0px;
        width: 60px;
    }

    .social-icons {
        display: flex;
        fill: $text-color;
        justify-content: space-around;
        margin: auto;
        max-width: 400px;

        @include respond-to('medium') {
            flex-direction: column;
        }
    }

    ul {
        margin: 0;
        padding: 30px 10px;
    }

    li {
        cursor: pointer;
        list-style: none;
        margin: 0;
        transition: transform $transition ease, opacity $transition ease;

        &:focus,
        &:hover {
            transform: scale(1.1);
        }

        &:active {
            opacity: 60%;
        }
    }

    svg {
        height: 40px;
        width: 40px;

        @include respond-to('medium') {
            height: 24px;
            width: 24px;
            margin-bottom: 24px;
        }
    }
}