.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px;

    &__logo {
        &:active,
        &:focus,
        &:hover {
            &::before {
                display: none;
            }
        }
        

    }

    svg {
        display: block;
        fill: var(--theme-color-primary);
        transition: transform $transition ease, box-shadow $transition ease;

        &:active {
            box-shadow: none;
            transform: scale(1);
            text-decoration: none;
        }

        &:focus,
        &:hover {
            transform: scale(1.1);
            text-decoration: none;
        }
    }

    ul {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        padding: 0;
        margin: 0 8px;

        @include respond-to('medium') {
            margin: 0 16px;
        }
    }
}

main {
    margin: 20px auto 0;
    max-width: $page-width;
    padding: 0 24px 0;
}


section {
    &:not(:first-of-type) {
        margin: 50px 0;
    }

    &.extra {
        margin: 125px 0;
    }
}
