//---------------------------
// Home
//---------------------------

#home-hero {
    h1 {
        margin-bottom: 48px;
    }

    #hero-profile-picture {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        img {
            border-radius: 50%;
            box-shadow: $shadow;
            display: block;
            max-width: 250px;
        }

        @include respond-to('medium') {
            justify-content: end;
            margin-bottom: 0px;

            img {
                max-width: 300px;
            }
        }
    }
}


//---------------------------
// Blog
//---------------------------

#blog-post main {
    img {
        border-radius: $border-radius;
        display: block;
        max-width: 100%;
        width: 100%;
    }

    section > p {
        margin: 40px 0;
    }
}