@font-face {
  font-family: "Catamaran";
  src: url("/assets/fonts/catamaran-extrabold-webfont.woff2") format("woff2"), url("/assets/fonts/catamaran-extrabold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("/assets/fonts/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Code";
  src: url("/assets/fonts/sourcecodepro-regular-webfont.woff2") format("woff2"), url("/assets/fonts/sourcecodepro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: #1E272E;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1E272E;
  font-family: "Catamaran", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  line-height: 130%;
  margin: 0;
}

h1 {
  font-size: 48px;
  margin-bottom: 32px;
}
@media (min-width: 992px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-size: 32px;
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  h2 {
    font-size: 42px;
  }
}

h3 {
  font-size: 26px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 20px;
  margin-bottom: 16px;
}
@media (min-width: 992px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-size: 16px;
  margin-bottom: 16px;
}

h6 {
  font-size: 14px;
  font-weight: normal;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 16px;
}

p {
  line-height: 32px;
  margin: 24px 0;
}

a {
  color: #1E272E;
  position: relative;
  text-decoration: none;
}
a:active::before, a:focus::before, a:hover::before {
  background-color: #1E272E;
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 3px;
}

blockquote {
  border-left: 3px #1E272E solid;
  font-family: "Catamaran", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: italic;
  margin: 0;
  padding: 24px;
  line-height: 100%;
}
blockquote p {
  line-height: 100%;
  margin: 0;
}

ul,
ol {
  margin: 0 0 0 40px;
  padding: 0;
}
ul li,
ol li {
  margin: 16px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button {
  background-color: #1E272E;
  backface-visibility: hidden;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: white;
  display: inline-block;
  font-family: "Catamaran", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  font-size: 16px;
  padding: 8px 16px;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.button:active {
  box-shadow: none;
  transform: scale(1);
  text-decoration: none;
}
.button:focus, .button:hover {
  transform: scale(1.1);
  text-decoration: none;
}
.button:active::before, .button:focus::before, .button:hover::before {
  display: none;
}

article {
  margin: 50px 0;
}

hr {
  background-color: #1E272E;
  border: none;
  height: 3px;
  margin: 0;
}

/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */
code[class*=language-],
pre[class*=language-] {
  color: #1E272E;
  font-family: "Source Code", "Lucida Console", Monaco, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 16px;
  line-height: 24px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre > code[class*=language-] {
  font-size: 1em;
}

/* Code blocks */
pre[class*=language-] {
  background-color: #F7F8F7;
  border-radius: 12px;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
p > code {
  padding: 4px 8px;
  background: #F7F8F7;
  border-radius: 8px;
  font-size: 16px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999988;
  font-style: italic;
}

.token.namespace {
  opacity: 0.7;
}

.token.string,
.token.attr-value {
  color: #e3116c;
}

.token.punctuation,
.token.operator {
  color: #393A34; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
  color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
  color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}

.token.important,
.token.function,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.navbar__logo:active::before, .navbar__logo:focus::before, .navbar__logo:hover::before {
  display: none;
}
.navbar svg {
  display: block;
  fill: #1E272E;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.navbar svg:active {
  box-shadow: none;
  transform: scale(1);
  text-decoration: none;
}
.navbar svg:focus, .navbar svg:hover {
  transform: scale(1.1);
  text-decoration: none;
}
.navbar ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.navbar li {
  list-style: none;
  padding: 0;
  margin: 0 8px;
}
@media (min-width: 992px) {
  .navbar li {
    margin: 0 16px;
  }
}

main {
  margin: 20px auto 0;
  max-width: 800px;
  padding: 0 24px 0;
}

section:not(:first-of-type) {
  margin: 50px 0;
}
section.extra {
  margin: 125px 0;
}

#home .split-hero__picture {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}
@media (min-width: 992px) {
  #home .split-hero__picture {
    width: 200px;
    margin-bottom: 0;
    margin-left: 30px;
  }
}
#home .split-hero__picture img {
  border-radius: 50%;
  display: block;
  max-height: 200px;
  max-width: 200px;
}
#home .divider {
  margin: 0 2px;
}
@media (min-width: 992px) {
  #home .divider {
    margin: 0 8px;
  }
}

#blog-post header,
#project-post header {
  margin-bottom: 40px;
}
#blog-post header nav,
#project-post header nav {
  display: flex;
  margin-bottom: 16px;
}
#blog-post header img,
#project-post header img {
  width: 100%;
  margin-bottom: 20px;
}
#blog-post .content h1,
#blog-post .content h2,
#blog-post .content h3,
#blog-post .content h4,
#project-post .content h1,
#project-post .content h2,
#project-post .content h3,
#project-post .content h4 {
  margin-top: 60px;
}
#blog-post .content img,
#project-post .content img {
  border-radius: 12px;
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
#blog-post .content section > p,
#project-post .content section > p {
  margin: 40px 0;
}
#blog-post .content a,
#project-post .content a {
  text-decoration: underline;
}
#blog-post .content a:active::before, #blog-post .content a:focus::before, #blog-post .content a:hover::before,
#project-post .content a:active::before,
#project-post .content a:focus::before,
#project-post .content a:hover::before {
  display: none;
}
#blog-post .content section > hr,
#project-post .content section > hr {
  margin: 80px 0;
}
#blog-post footer,
#project-post footer {
  margin-top: 100px;
}
#blog-post footer h4,
#project-post footer h4 {
  margin: 30px 0;
}

.split-hero {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .split-hero {
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.divider {
  margin: 0 8px;
}
