---
title: Home
layout: base
templateId: home
---
<section class="split-hero">
    <div>
        <h1>Developer & Maker</h1>
        <h3>I’m James, a full time developer, part time tinkerer.</h3>
        <h6>Homelabs <span class="divider">|</span> Docker <span class="divider">|</span> PHP <span class="divider">|</span> Laravel <span class="divider">|</span> TypeScript <span class="divider">|</span> Vue </h6>
    </div>

    <div class="split-hero__picture">
        <img src="assets/images/james.jpg" alt="Me" />
    </div>
</section>

<section class="extra">
    <h2>Blog</h2>
    <hr />

    <div>
        {%- for post in collections.posts.slice(0, 2) -%}
        <article>
            <h3>
                <a href="{{ post.url }}" alt="{{ post.data.title }}">
                    {{ post.data.title }}
                </a>
            </h3>

            <p>{{ post.data.summary }}</p>
        </article>
        {%- endfor -%}
    </div>

    <a class="button" href="/blog" title="Blog">View More Posts</a>
</section>

<section class="extra">
    <h2>Projects</h2>
    <hr />

    <div>
        {%- for project in collections.projects.slice(0, 2) -%}
        <article>
            <h3>
                <a href="{{ project.url }}" alt="{{ project.data.title }}">
                    {{ project.data.title }}
                </a>
            </h3>

            <p>{{ project.data.summary }}</p>
        </article>
        {%- endfor -%}
    </div>

    <a class="button" href="/projects" title="Projects">View More Projects</a>
</section>
