---
title: Home
layout: base
templateId: home
---
<section class="split-hero">
    <div>
        <h1>Developer &amp; Maker</h1>
        <h3>I’m James, a full time developer, part time tinkerer.</h3>
        <p>Welcome to my small corner of the internet. Here I mash together words into blog posts about the tech I'm playing with, be it my homelab, docker, or software development.<p>
        <h6>Homelabs <span class="divider">|</span> Docker <span class="divider">|</span> PHP <span class="divider">|</span> Go <span class="divider">|</span> TypeScript <span class="divider">|</span> Vue </h6>
    </div>

    <div class="split-hero__picture">
        <img src="assets/images/james.jpg" alt="Me" />
    </div>
</section>

<section class="extra">
    <h2>Posts</h2>
    <hr />

    <div>
        {%- for post in collections.posts.slice(0,8) -%}
        <article>
            <h3>
                <a href="{{ post.url }}" alt="{{ post.data.title }}">
                    {{ post.data.title }}
                </a>
            </h3>

            <p>{{ post.data.summary }}</p>
        </article>
        {%- endfor -%}
    </div>

    <a class="button" href="/blog" title="Blog">View All Posts</a>
</section>
