---
title: Projects
layout: base
---
<section>
    <h1>Projects</h1>
    <h4>Freelance & Casual Projects</h4>
</section>


<section>
    {%- for project in collections.projects -%}
    <article>
        <a href="{{ project.url }}" alt="{{ project.data.title }}">
            <h2>{{ project.data.title }}</h2>
        </a>

        <p>{{ project.data.summary }}</p>
    </article>
    {%- endfor -%}
</section>